* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'CHOPIN', Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8BFD8;
}

.login-container {
    background: #E71462;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-header {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

.login-form h2 {
    font-size: 20px;
    color: #ffffff;
}

.login-form p {
    margin-bottom: 20px;
    color: #ffffff;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #B0CEC4;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F973A8;
    color: white;
    font-size: 16px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.new-account{
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration:none;
}

.new-account:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'CHOPIN';
    src: url('../../assets/fonts/chopin/Chopin-Trial-ExtraBold-BF65b1d6912ca36.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}