

.seccion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(35,38,35,1) 37%, rgba(0,0,0,1) 68%, rgba(46,48,46,1) 100%);
    height: 100%;
    width: 100%;
}

.login-background{
    position: absolute;
    z-index: -1;
    filter: blur(3px);
    height: 100vd;
}

.login-container {
    font-family: 'chopin-light';
    background: var(--pink-1-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;

}

.login-header {
    margin-bottom: 20px;
    
}

.logo img {
    width: 100px;
    height: 100px;
}

.login-form h2 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'chopin-bold';
}

.login-form p {
    margin-bottom: 20px;
    color: #ffffff;
}

.input-login-form {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #B0CEC4;
    border-radius: 5px;
    font-family: 'chopin-light';

    &:focus{
        outline: none;
    }
}



.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--pink-4-color);
    color: white;
    font-size: 16px;
    font-family: 'chopin-light';
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.new-account{
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration:none;
}

.new-account:hover {
    text-decoration: underline;
}

