* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccion-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.login-background{
    position: absolute;
    z-index: -1;
    filter: blur(3px);
}

.login-container {
    font-family: 'chopin-light';
    background: #E71462;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;

}

.login-header {
    margin-bottom: 20px;
    
}

.logo img {
    width: 100px;
    height: 100px;
}

.login-form h2 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'chopin-bold';
}

.login-form p {
    margin-bottom: 20px;
    color: #ffffff;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #B0CEC4;
    border-radius: 5px;
    font-family: 'chopin-light';
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F973A8;
    color: white;
    font-size: 16px;
    font-family: 'chopin-light';
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.new-account{
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration:none;
}

.new-account:hover {
    text-decoration: underline;
}

