.typography-h1-white {
    font-size: 2rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-h1-black {
    font-size: 2rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-h2-white {
    font-size: 1.8rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-h2-black {
    font-size: 1.8rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-h3-white {
    font-size: 2rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-h3-black {
    font-size: 2rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-h4-white {
    font-size: 1.6rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-h4-black {
    font-size: 1.6rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-h5-white {
    font-size: 1.4rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-h5-black {
    font-size: 1.4rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-h6-white {
    font-size: 1.2rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-h6-black {
    font-size: 1.2rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-logo-white {
    font-size: 2.3rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-logo-black {
    font-size: 2.3rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-logo-violet {
    font-size: 2.3rem;
    font-family: 'chopin-bold';
    color: var(--violet-1-color);
}

.typography-logo-pink {
    font-size: 2.3rem;
    font-family: 'chopin-bold';
    color: var(--pink-1-color);
}

.typography-span-white {
    font-size: 1rem;
    font-family: 'chopin-bold';
    color: var(--white-color);
}

.typography-span-black {
    font-size: 1rem;
    font-family: 'chopin-bold';
    color: var(--black-color);
}

.typography-span-light-black {
    font-size: 1rem;
    font-family: 'chopin-light';
    color: var(--black-color);
}

.typography-span-light-white {
    font-size: 1rem;
    font-family: 'chopin-light';
    color: var(--white-color);
}

.typography-span-violet {
    font-size: 1rem;
    font-family: 'chopin-bold';
    color: var(--violet-1-color);
}

.typography-span-pink {
    font-size: 1rem;
    font-family: 'chopin-bold';
    color: var(--pink-1-color);
}

.typography-span-error {
    font-size: 1rem;
    font-family: 'chopin-bold';
    color: var(--danger-color);
}

