*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.h-custom {
  height: calc(100vh - 72px); /* Ajusta 50px según sea necesario */
}

/* FUENTES */
@font-face {
  font-family: 'chopin-extra-bold';
  src: url('./assets/fonts/chopin/Chopin-Trial-ExtraBold-BF65b1d6912ca36.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chopin-black';
  src: url('./assets/fonts/chopin/Chopin-Trial-Black-BF65b1d69136d83.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chopin-bold-italic';
  src: url('./assets/fonts/chopin/Chopin-Trial-BoldItalic-BF65b1d691bc9ae.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chopin-thin';
  src: url('./assets/fonts/chopin/Chopin-Trial-Thin-BF65b1d6921288d.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chopin-extra-light';
  src: url('./assets/fonts/chopin/Chopin-Trial-ExtraLight-BF65b1d69203043.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chopin-light';
  src: url('./assets/fonts/chopin/Chopin-Trial-Light-BF65b1d69151abf.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chopin-bold';
  src: url('./assets/fonts/chopin/Chopin-Trial-Bold-BF65b1d691a55be.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chopin-regular';
  src: url('./assets/fonts/chopin/Chopin-Trial-Regular-BF65b1d6917c0ec.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chopin-medium';
  src: url('./assets/fonts/chopin/Chopin-Trial-Medium-BF65b1d69162573.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* COLORES */ 

:root{
  --pink-1-color: #e71462;
  --pink-2-color: #ed3479;
  --pink-3-color: #f35491;
  --pink-4-color: #f973a8;
  --pink-5-color: #ff93bf;
  --violet-1-color: #6c1cfd;
  --violet-2-color: #8937fe;
  --violet-3-color: #a752fe;
  --violet-4-color: #c46cff;
  --violet-5-color: #e187ff;
  --dark-1-color: #2b2b2b;
  --dark-2-color: #3a3a3a;
  --dark-3-color: #494949;
  --dark-4-color: #585858;
  --dark-5-color: #676767;
  --light-1-color: #f7f0f0;
  --light-2-color: #d6d2d6;
  --light-3-color: #ddd8d8;
  --black-color: #0c0c0c; 
  --white-color: #fafafa; 
  --danger-color: #FF4C4C;
  --succes-color: #4CAF50;
}

@tailwind base;
@tailwind components;
@tailwind utilities;